:root {
  --s0-primary: rgb(68, 51, 17);
  --s0-primary-rgb: 68, 51, 17;
  --s0-body-bg: #ffffff;
  --s0-body-color: rgb(55, 46, 43);
}

html {
  font-size: 16px;
}

h1 a {
  height: 100%;
}

h1 a img {
  height: 100%;
}

.s0-line-title {
  margin-bottom: 1rem;
}

.s0-section-body {
  padding-left: 2rem;
  padding-right: 2rem;
}

.s0-card>div {
  padding: 1rem;
  background-color: #f8f8f8;
}

.s0-hero {
  background-image: url("../images/header_back.jpg");
}

.app-icon-instagram {
  width: 24px !important;
  height: 24px !important;
  margin: 12px !important;
  background-image: url('../images/instagram.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.app-icon-home {
  background-image: url('../images/s0/home.svg');
}

.app-icon-about {
  background-image: url('../images/s0/info.svg');
}

.app-icon-menu {
  background-image: url('../images/s0/book.svg');
}

.app-icon-access {
  background-image: url('../images/s0/pin.svg');
}

.app-icon-contact {
  background-image: url('../images/s0/contact.svg');
}

@media (min-width: 768px) {
  header {
    justify-content: left !important;
    gap: 24px !important;
  }
}